.DS_Store
__pycache__
.ipynb_checkpoints/
*.pt
ckpts/
*.err
*.out
*.log
logparse/
correspondence/
v2cc/
groupparcellation/
*.pt
results/
result/
model/
archive/
traincorrespondence.py
train_gaussian_selfsupervised.py
