.DS_Store
__pycache__
.ipynb_checkpoints/
*.pt
ckpts/
*.err
*.out
*.log
logparse/
correspondence/
v2cc/
groupparcellation/
*.pt
results/
result/
archive/
traincorrespondence.py
train_gaussian_selfsupervised.py
alignment/
mwremoved/

# Ignore leaf directories under wacvanalysis

wacvanalysis/frameworks/csrf/alignment_rp/
wacvanalysis/frameworks/cortexode/result/
wacvanalysis/frameworks/cortexode/alignment/
wacvanalysis/frameworks/fastsurfer/result/
wacvanalysis/frameworks/freesurfer/mwremoved/

